@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="orders" asp-area="" asp-action="ViewOrders" asp-controller="Order">My Orders</a></li>
</ul>
