@model Ingredient
@{
    ViewBag.Title = $"Delete {Model.Name}";
}

<div class="text-center">
    <h4 class="">Are you sure you want to delete @Model.Name?</h4>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="IngredientId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>